# avance de evidencia 1

### Diagrama de datos
<div>
<p style = 'text-align:center;'>
<img src="./dataAnalisis.png">
</p>
</div>

## Hello world

In [46]:
print("Hello World")

Hello World

# Limpieza de datos

instalar dependencias

In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\users\omen\desktop\escuela\semestre5\datos masivos\entorno1\venv\lib\site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in d:\users\omen\desktop\escuela\semestre5\datos masivos\entorno1\venv\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.20.3 in d:\users\omen\desktop\escuela\semestre5\datos masivos\entorno1\venv\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\users\omen\desktop\escuela\semestre5\datos masivos\entorno1\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\users\omen\desktop\escuela\semestre5\datos masivos\entorno1\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### importar librerias

In [48]:
import pandas as pd

##### importar datasets para trabajar

In [9]:
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')
departament = pd.read_csv('departments.csv')
aisles = pd.read_csv('aisles.csv')
order_product = pd.read_csv('order_products__prior.csv')

##### Realizar Diccionario a partir del csv de aisles

In [51]:

dict_csv = pd.read_csv('aisles.csv', header=None, index_col=0, squeeze=True).to_dict()

print(dict_csv)

{'aisle_id': 'aisle', '1': 'prepared soups salads', '2': 'specialty cheeses', '3': 'energy granola bars', '4': 'instant foods', '5': 'marinades meat preparation', '6': 'other', '7': 'packaged meat', '8': 'bakery desserts', '9': 'pasta sauce', '10': 'kitchen supplies', '11': 'cold flu allergy', '12': 'fresh pasta', '13': 'prepared meals', '14': 'tofu meat alternatives', '15': 'packaged seafood', '16': 'fresh herbs', '17': 'baking ingredients', '18': 'bulk dried fruits vegetables', '19': 'oils vinegars', '20': 'oral hygiene', '21': 'packaged cheese', '22': 'hair care', '23': 'popcorn jerky', '24': 'fresh fruits', '25': 'soap', '26': 'coffee', '27': 'beers coolers', '28': 'red wines', '29': 'honeys syrups nectars', '30': 'latino foods', '31': 'refrigerated', '32': 'packaged produce', '33': 'kosher foods', '34': 'frozen meat seafood', '35': 'poultry counter', '36': 'butter', '37': 'ice cream ice', '38': 'frozen meals', '39': 'seafood counter', '40': 'dog food care', '41': 'cat food care', '42': 'frozen vegan vegetarian', '43': 'buns rolls', '44': 'eye ear care', '45': 'candy chocolate', '46': 'mint gum', '47': 'vitamins supplements', '48': 'breakfast bars pastries', '49': 'packaged poultry', '50': 'fruit vegetable snacks', '51': 'preserved dips spreads', '52': 'frozen breakfast', '53': 'cream', '54': 'paper goods', '55': 'shave needs', '56': 'diapers wipes', '57': 'granola', '58': 'frozen breads doughs', '59': 'canned meals beans', '60': 'trash bags liners', '61': 'cookies cakes', '62': 'white wines', '63': 'grains rice dried goods', '64': 'energy sports drinks', '65': 'protein meal replacements', '66': 'asian foods', '67': 'fresh dips tapenades', '68': 'bulk grains rice dried goods', '69': 'soup broth bouillon', '70': 'digestion', '71': 'refrigerated pudding desserts', '72': 'condiments', '73': 'facial care', '74': 'dish detergents', '75': 'laundry', '76': 'indian foods', '77': 'soft drinks', '78': 'crackers', '79': 'frozen pizza', '80': 'deodorants', '81': 'canned jarred vegetables', '82': 'baby accessories', '83': 'fresh vegetables', '84': 'milk', '85': 'food storage', '86': 'eggs', '87': 'more household', '88': 'spreads', '89': 'salad dressing toppings', '90': 'cocoa drink mixes', '91': 'soy lactosefree', '92': 'baby food formula', '93': 'breakfast bakery', '94': 'tea', '95': 'canned meat seafood', '96': 'lunch meat', '97': 'baking supplies decor', '98': 'juice nectars', '99': 'canned fruit applesauce', '100': 'missing', '101': 'air fresheners candles', '102': 'baby bath body care', '103': 'ice cream toppings', '104': 'spices seasonings', '105': 'doughs gelatins bake mixes', '106': 'hot dogs bacon sausage', '107': 'chips pretzels', '108': 'other creams cheeses', '109': 'skin care', '110': 'pickled goods olives', '111': 'plates bowls cups flatware', '112': 'bread', '113': 'frozen juice', '114': 'cleaning products', '115': 'water seltzer sparkling water', '116': 'frozen produce', '117': 'nuts seeds dried fruit', '118': 'first aid', '119': 'frozen dessert', '120': 'yogurt', '121': 'cereal', '122': 'meat counter', '123': 'packaged vegetables fruits', '124': 'spirits', '125': 'trail mix snack mix', '126': 'feminine care', '127': 'body lotions soap', '128': 'tortillas flat bread', '129': 'frozen appetizers sides', '130': 'hot cereal pancake mixes', '131': 'dry pasta', '132': 'beauty', '133': 'muscles joints pain relief', '134': 'specialty wines champagnes'}

C:\Users\alber\AppData\Local\Temp\ipykernel_22568\3378417576.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  dict_csv = pd.read_csv('aisles.csv', header=None, index_col=0, squeeze=True).to_dict()

In [53]:
print(dict_csv['1'])

prepared soups salads

In [55]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

vamos a analizar la informacion de este dataset

In [6]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

Ahora analizar cuantos datos faltantes tenemos en este caso 206209 son datos faltantes

este paso se realiza con cada uno de los dataset

In [8]:
orders.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [10]:
products.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [13]:
aisles.isnull().sum()

aisle_id    0
aisle       0
dtype: int64

una vez hecho el analis de los datos podemos encontrar que hay campos en comun los cuales se pueden unir en un solo archivo
aqui se une el dataset de "asiles" con el de "products" por medio del campo en comun que en este caso es aisle_id para tenerlo en un solo archivo

In [16]:
#unir pasillo id con el producto
products = pd.merge(aisles, products, on="aisle_id")
products.head()

,aisle_id,aisle_x,aisle_y,product_id,product_name,department_id
0,1,prepared soups salads,prepared soups salads,209,Italian Pasta Salad,20
1,1,prepared soups salads,prepared soups salads,554,Turkey Chili,20
2,1,prepared soups salads,prepared soups salads,886,Whole Grain Salad with Roasted Pecans & Mango ...,20
3,1,prepared soups salads,prepared soups salads,1600,Mediterranean Orzo Salad,20
4,1,prepared soups salads,prepared soups salads,2539,Original Potato Salad,20

In [20]:
departament.info()
departament.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

department_id    0
department       0
dtype: int64

In [25]:
departament

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [27]:
products

,aisle_id,aisle_x,aisle_y,product_id,product_name,department_id
0,1,prepared soups salads,prepared soups salads,209,Italian Pasta Salad,20
1,1,prepared soups salads,prepared soups salads,554,Turkey Chili,20
2,1,prepared soups salads,prepared soups salads,886,Whole Grain Salad with Roasted Pecans & Mango ...,20
3,1,prepared soups salads,prepared soups salads,1600,Mediterranean Orzo Salad,20
4,1,prepared soups salads,prepared soups salads,2539,Original Potato Salad,20
...,...,...,...,...,...,...
49683,134,specialty wines champagnes,specialty wines champagnes,47713,Sparkling Rose,5
49684,134,specialty wines champagnes,specialty wines champagnes,48984,Dry Sherry,5
49685,134,specialty wines champagnes,specialty wines champagnes,49438,Dry Fino Sherry,5
49686,134,specialty wines champagnes,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5
49687,134,specialty wines champagnes,specialty wines champagnes,49661,Porto,5

In [30]:
#unir departamentos
products_merge = pd.merge(departament, products, on='department_id')
products_merge.head()

,department_id,department,aisle_id,aisle_x,aisle_y,product_id,product_name
0,1,frozen,34,frozen meat seafood,frozen meat seafood,118,Ground Turkey Chub
1,1,frozen,34,frozen meat seafood,frozen meat seafood,383,Breaded Chicken Breast Tenders
2,1,frozen,34,frozen meat seafood,frozen meat seafood,402,100% Pure Beef Homestyle Patties
3,1,frozen,34,frozen meat seafood,frozen meat seafood,625,"Chicken Breast Nuggets, Dinosaur Shaped"
4,1,frozen,34,frozen meat seafood,frozen meat seafood,831,All Natural Premium Cornish Hen

In [31]:
order_product

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [32]:
products_merge

,department_id,department,aisle_id,aisle_x,aisle_y,product_id,product_name
0,1,frozen,34,frozen meat seafood,frozen meat seafood,118,Ground Turkey Chub
1,1,frozen,34,frozen meat seafood,frozen meat seafood,383,Breaded Chicken Breast Tenders
2,1,frozen,34,frozen meat seafood,frozen meat seafood,402,100% Pure Beef Homestyle Patties
3,1,frozen,34,frozen meat seafood,frozen meat seafood,625,"Chicken Breast Nuggets, Dinosaur Shaped"
4,1,frozen,34,frozen meat seafood,frozen meat seafood,831,All Natural Premium Cornish Hen
...,...,...,...,...,...,...,...
49683,21,missing,100,missing,missing,49553,Organic Plain Skyr
49684,21,missing,100,missing,missing,49575,Chocolate Vanilla Malt Custard
49685,21,missing,100,missing,missing,49641,"8\"" Pecan Pie"
49686,21,missing,100,missing,missing,49664,Lemon Cayenne Drinking Vinegar
49687,21,missing,100,missing,missing,49669,K Cup Dark Blend

In [33]:
#MERGE PRODUCT ID
products_merge = pd.merge(order_product, products, on='product_id')

In [34]:
products_merge.head()

,order_id,product_id,add_to_cart_order,reordered,aisle_id,aisle_x,aisle_y,product_name,department_id
0,2,33120,1,1,86,eggs,eggs,Organic Egg Whites,16
1,26,33120,5,0,86,eggs,eggs,Organic Egg Whites,16
2,120,33120,13,0,86,eggs,eggs,Organic Egg Whites,16
3,327,33120,5,1,86,eggs,eggs,Organic Egg Whites,16
4,390,33120,28,1,86,eggs,eggs,Organic Egg Whites,16

In [35]:
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [41]:
#merge order id
products_merge_orders = pd.merge(products_merge, orders, on="order_id")

In [42]:
products_merge_orders.head()

,order_id,product_id,add_to_cart_order,reordered,aisle_id,aisle_x,aisle_y,product_name,department_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,86,eggs,eggs,Organic Egg Whites,16,202279,prior,3,5,9,8.0
1,2,28985,2,1,83,fresh vegetables,fresh vegetables,Michigan Organic Kale,4,202279,prior,3,5,9,8.0
2,2,9327,3,0,104,spices seasonings,spices seasonings,Garlic Powder,13,202279,prior,3,5,9,8.0
3,2,45918,4,1,19,oils vinegars,oils vinegars,Coconut Butter,13,202279,prior,3,5,9,8.0
4,2,30035,5,0,17,baking ingredients,baking ingredients,Natural Sweetener,13,202279,prior,3,5,9,8.0